html {
  background-color: #212121;
  font-family: "Arial";
  font-size: 16pt;
}

body {
  margin: 0px;
  color: #f5f5f5;
}

p {
  color: #f5f5f5;
}

a {
  color: #f5f5f5;
}

h1 {
  color: #f5f5f5;
}

.header {
  align-items: center;
  background-color: black;
  height: 150px;
}

.header img {
  height: 100%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  height: 100%;
}

.fade {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav li a {
  font-size: 20pt;
  text-decoration: none;
  padding: 9% 20px;
}

.nav li a:hover {
  background-color: #212121;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.content {
  padding: 30px 10px;
}

.center {
  text-align: center;
}

.container-center {
  display: flex;
  justify-content: center;
}
